@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

$font-dyna:"DynaPuff";
$font-rubik:"Rubik Distressed";
$font-Exo:"Exo 2";
