@import "./backgrounds.scss";
@import "./colors.scss";
@import "./fontes.scss";

/*
FONTES:
$font-dyna
$font-rubik
$font-Exo
*/

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@keyframes animacao-fundo-background {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.sessao-header {
  overflow: hidden;
  width: 100%;
  height: 35rem;
  position: relative;
  background-color: $cor-fundo-sessoes;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    filter: blur(4px);
    animation: animacao-fundo-background 10s infinite ease;
  }

  .info-header {
    z-index: 1;
    color: #fff;
    font-family: $font-Exo;
  }
}

.sessao-main {
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  .sessao-sobre-nos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-family: $font-Exo;
  }

  .sessao-suplementos {
    font-family: $font-Exo;
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-image: url("../../img//img-fundo/fundo3.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;

    .titulo-suplementos {
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
    }

    .card-wrapper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .card {
        width: 30%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.63);
        color: #fff;

        .img-card {
          width: 10%;
        }

        button {
          border: none;
          border-radius: 5px;
          background-color: #088;
          color: #fff;
          transition: all 0.4s ease;
          padding: 1rem;
          margin: 1rem;
          &:hover {
            background-color: #ffff;
            color: #088;
          }
        }
      }
    }
  }
}

.sessao-localizacao {
  width: 100%;
  font-family: $font-Exo;
  height: 40rem;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;

  .container-info-localizacao {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .info-localizacao {
      overflow: hidden;
      width: 25rem;
      background-color: rgb(5, 5, 5);
      height: 29rem;
      color: #fff;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;

      .formulario-contato {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        overflow: hidden;
        background-color: rgba(124, 124, 124, 0.582);
        border-radius: 10px;
        margin: 1rem;
        width: 90%;

        input {
          outline: none;
          border-radius: 0.4rem;
          border: none;
          padding: 0.4rem 2rem;
        }

        button {
          border: none;
          padding: 0.4rem 4rem;
          margin: 1rem;
          border-radius: 0.2rem;
          background-color: #088;
          color: #fff;
          transition: all 0.4s ease-in-out;

          &:hover {
            background-color: #fff;
            color: #088;
          }
        }
      }

      .container-redes-sociais-localizacao {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {
          overflow: hidden;
          padding: 1rem;
          width: 30%;
          text-align: center;
        }
      }

      h3 {
        text-shadow: 1px 1px 2px #000;
      }
    }
  }
}

.sessao-footer {
  overflow: hidden;
  color: #fff;
  width: 100%;
  height: 20rem;
  background-color: #000000d5;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .titulo-footer {
    position: relative;

    &:before {
      content: "";
      background-color: #088;
      width: 5rem;
      height: 0.2rem;
      bottom: 0;
      position: absolute;
    }
  }

  .container-footer {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .container-redes-sociais-footer {
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
        margin: 5px;
        color: #fff;
        i {
          margin: 5px;
        }
      }
    }

    .container-localizacao-footer {
      display: flex;
      flex-direction: column;
    }

    .container-contatos-footer {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 1000px) {
  .sessao-localizacao {
    height: 70rem;
    .container-info-localizacao {
      flex-direction: column;

      .mapa-localizacao {
        width: 95%;

        iframe {
          width: 100%;
        }
      }
      .info-localizacao {
        order: -1;
        width: 95%;
      }
    }
  }
}

@media (max-width: 836px) {
  .sessao-main {
    .sessao-sobre-nos {
      height: 20rem;
    }
    .sessao-suplementos {
      height: 60rem;
      width: 100%;

      .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem;

        .card {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 759px) {
  .sessao-main {
    .sessao-sobre-nos {
      height: 29rem;
    }
  }
  .sessao-footer {
    height: 35rem;

    .container-footer {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
    }
  }
}

@media (max-width: 560px) {
  .sessao-main {
    .sessao-sobre-nos {
      height: 35rem;
    }

    .sessao-suplementos {
      height: 100rem;

      .card-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .card {
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 403px) {
  .sessao-main {
    .sessao-sobre-nos {
      height: 40rem;
    }
  }
}

@media (max-width: 381px) {
  .sessao-main {
    .sessao-sobre-nos {
      height: 50rem; 
    }
  }
  .sessao-localizacao {
    .container-info-localizacao {
      .info-localizacao {
        .container-redes-sociais-localizacao {
          display: flex;
          width: 100%;

          button{
            width: 30%;
            font-size:10px;
            text-align:center;
          }
        }
      }
    }
  }
}
